.top-container {
border-bottom: silver 10px solid;

}

.site-container {
  color: white;
  overflow: auto;
  background: rgba(0,0,0,0.7);
  min-height: 100vw;
  display: flex;
  flex-direction: column;

}

.table-container {
  flex-grow: 1;
}

.link-list {
  display: flex;
  justify-content: space-around;
}

.cool-link-text {
  border: 1px solid $brand-orange;
  width: 50%;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.cool-link {
  color: $brand-orange;
  border: white 1px solid;
  padding: 0.3rem;
}

.title-container {
  display: flex;
  justify-content: center;
}

.heading-container {
  flex: 1;
  display: flex;
  max-width: 64%;
  justify-content: flex-end;
}

.username-container {
  text-align: right;
  width: 20%;
}

.show-username {

}

.main-container {
  background: grey;

}

.how-back {

}

.how-list {
  color: white;
  list-style: none;
  margin: auto;
  text-align: -webkit-left;
}

.how-item-sublist {
  list-style: none;
}

.about-us {
  color: white;
  font-size: 1.2rem;
}

.who-heading {
  width: 38%;
  margin: auto;
  border: 3px solid white;

}

.links-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  margin: 0 1rem;

  &__link {
    flex: 1;

    margin: 1rem;
  }
}

footer {
}
