
.site-container {
  background: rgba(0,0,0,.8);

  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  overflow: auto;
}



.how-list {
  color: white;

}
.about-us {
  font-size: 1.2rem;
  color: white;
// background:url('http://cdn1.listovative.com/wp-content/uploads/2015/08/hidden-treasure-around-the-world.jpg')
}

.who-heading {
  border: 3px solid white;
  width: 38%;
  margin: auto;
}

.links-container {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  flex: 1 1 auto;

  &__link {
    flex: 1;

    margin: 1rem;
  }
}
