.top-container {
border-bottom: silver 10px solid;

}

.site-container {
  color: white;
  background: rgba(0,0,0,0.7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.link-list {
  display: flex;
  justify-content: space-around;
}

.cool-link-text {
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.cool-link {
  padding: 0.3rem;
  border: white 1px solid;
  color: $brand-orange;

  &:hover {
    border: 1px solid transparent;
    background: rgba(254, 166, 75, 0.37);
    color: white;
  }
}

.index-title-container {
  display: flex;
  justify-content: center;

}

.title-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  border: 5px solid rgba(255, 255, 255, 0.54);
  background: rgba(42, 45, 56, 0.82);
  box-shadow: 10px 10px 30px black;
}

.heading-container {
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 64%;
}

.username-container {
  width: 35%;
  text-align: right;
  margin: auto;
  text-align: center;
}

.show-username {

}

.how-container {
  width: 90%;
  margin: auto;
  border: 5px solid rgba(255, 255, 255, 0.54);
  background: rgba(42, 45, 56, 0.82);
  box-shadow: 10px 10px 30px black;
  margin-bottom: 2rem;
}

.how-list {
  color: white;
  margin: auto;
  list-style: none;
  margin-right: 1rem;
}

.how-item-sublist {
  list-style: none;
  margin-right: 1rem;
}

.who {
  border: 5px solid rgba(255, 255, 255, 0.54);
  background: rgba(42, 45, 56, 0.82);
  box-shadow: 10px 10px 30px black;

}

.about-us {
  color: white;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.who-heading {
  width: 38%;
  margin: auto;
  margin-top: 1rem;
}

.links-container {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;

  &__link {
    flex: 1;
    text-align: center;
    margin: 1rem;
  }
}

footer {
  margin: 2rem 0;
}
