@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

html, body {
  margin: 0;
  text-shadow: 2px 2px 1px #000000;
  background-image:url('http://img.mota.ru/upload/wallpapers/2012/10/31/09/01/33186/mota_ru_2103105-1024x768.jpg');
  background-size: cover;
}

a {
  text-decoration: none;
}

.site-heading {
  margin-left: 9rem;
  color: $brand-orange;
  font-family: herculanum;

}


.btn {
  position: relative;
  width: 100%;
  border: 0;
  border-radius: $corner-radius;
  outline: none;
  background: transparent;
  color: $brand-orange;
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 3em;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 1px #000000;
  text-transform: uppercase;

  box-shadow: 0 0 0 0 transparent;

 @include transition(all 0.2s ease-in);

  &:hover {
    background-color: $col-primary;
    color: #989898;
    box-shadow: 0 0 30px 0 transparentize($col-primary, 0.5);
    text-shadow: 0.5px 0.5px 0.5px black;

    @include transition(all 0.2s ease-out);

    &:before {
      @include animation(shine 0.5s 0s linear);
     }
   }

  &:active {
    box-shadow: 0 0 0 0 transparent;
    @include transition(box-shadow 0.2s ease-in);
   }

   &:before {
    display: block;
    position: absolute;
    top: 7%;
    left: 0%;
    width: 0;
    height: 86%;
    background: transparent;
    box-shadow: 0 0 15px 3px white;
    content: '';
    opacity: 0;

     @include transform(skewX(-20deg));
   }
 }

 @include keyframes(shine) {
   from {
    left: 0%;
    opacity: 0;
   }

  50% {
    opacity: 1;
   }
  to {
    left: 100%;
    opacity: 0;
   }
}
