.page-title {
  margin: 0;
  padding: 5rem 0;
  font-size: 4rem;
  text-align: center;
}

.page-title-container {
  background: radial-gradient(rgba(0, 0, 0, 0.498039) 0%, rgba(0, 0, 0, 0) 50%);
}

.table-container {
  width: 100%;
  background: #708090;
  text-shadow: none;
  color: #000000;
}

.table {
  width: 90%;
  margin: auto;
  padding: 3rem 0;
  text-align: center;
}

.table-header {
  color: darken($brand-orange, 15%);
}

.table-item__button {
  width: 5%;
}

.details-link {
  padding: 10px;
  color: #DAA520;
  text-shadow: none;

  &:hover {
    text-shadow: none;
  }
}
