.page-title {
  margin: 0;
  padding: 3rem 0;
  font-family: herculanum;
  font-size: 5rem;
  text-align: center;
}

.table-container {
  width: 90%;
  margin: 5rem auto;
  border: 5px solid rgba(255, 255, 255, 0.54);
  background: rgba(42, 45, 56, 0.82);
  box-shadow: 10px 10px 30px black;
}

.table {
  width: 90%;
  margin: auto;
  padding: 3rem 0;
  text-align: center;
}

.table-header {
  color: darken($brand-orange, 15%);
  font-size: 1.2rem;
}

.table-item__button {
  width: 5%;
}

.details-link {
  padding: 10px;
  color: #DAA520;
}
