.page-title {
  margin: 0;
  padding: 3rem 0;
  font-family: herculanum;
  font-size: 5rem;
  text-align: center;
}

.table-container {
  width: 90%;
  margin: 0 auto 5rem;
  border: 5px solid rgba(255, 255, 255, 0.54);
  background: rgba(42, 45, 56, 0.82);
  box-shadow: 10px 10px 30px black;
}

.table {
  width: 90%;
  margin: auto;
  padding: 0 0 3rem;
  text-align: center;
  border-spacing: 0;
}

.table-item {
  border-bottom: 1px solid #f9f9f9;
  padding: 1.5rem 0;
}

.table-header {
  border-bottom: 1px solid darken($brand-orange, 15%);
  color: darken($brand-orange, 15%);
  font-size: 1.2rem;
  font-family: herculanum;
  line-height: 2rem;
}

.table-item__button {
  width: 10%;
}

.details-link {
  width: 100%;
  color: #DAA520;
}
