.main-container {
  flex: 1;
  text-align: center;
}

.form-container {
  margin: 2rem;
}

.content-container {
  width: 60rem;
  margin: 3rem auto;
}

.registration {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-input {
  flex: 1;
  margin: 1rem 2rem;
}

.input-field {
  font-size: 1.2rem;
  text-align: left;
}

.button-container {
  width: 100%;
  margin-top: 5rem;
}

.btn-save {
  width: 17rem;
}

.md-char-counter {
  display: none;
}

// placeholder
md-input-container.md-default-theme label, md-input-container.md-default-theme .md-placeholder {
  color: white;
  text-shadow: 2px 2px 2px black;
}

// label after done typing
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label {
  color: $brand-orange;
  text-shadow: 2px 2px 2px black;
}

// label while typing
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label {
  color: white;
  text-shadow: 2px 2px 2px black;
}

// underline while the input is active
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input {
  border-color: white;
}

// input text
md-input-container.md-default-theme .md-input {
  color: $brand-orange;
  text-shadow: 2px 2px 2px black;
  border-color: $brand-orange;
}

.upload {
  width: 30%;
  margin: auto;
  margin-top: 3rem;
}
