
<h1 class="page-title">How This Works</h1>

<ul class="how-list">
  <li class="how-item"><p>First, peruse the treasure hunts we have available.  We have a few different kinds, so get familiar with them.  Here they are:</p>
<ul class="how-item-sublist">
  <li class="how-item-sublist-listitem"><p>Normal Treasure Hunts: These are treasure hunts intended for you to do alone or with a small group of friends. There is not much of a time limit, and difficulty is challenging but should not be too frustrating.  If you need clues or help you can get some from us. Once you find the treasure, it's yours!  We will text you to confirm you've completed your hunt after a few days.</p></li>
  <li class="how-item-sublist-listitem"><p>Timed Treasure Hunts: These are just like the normal hunts, but have an eight hour time limit.  If you have not found the treasure and sent us a picture with in said eight hours, we will notify you, pull the treasure, and increase it! Then is goes back on sale at the original price. It continues to build until someone wins!</p></li>
  <li class="how-item-sublist-listitem"><p>Public Treasure Hunts: For these events, you buy a ticket to the event, and once a pre-determined number of participants have joined, an email will be sent to all of you to tell you where to be and when!  From there you are all given your clues and the race is on!  Who ever finds the treasure first takes it home!  The prizes are significantly bigger here, and the difficulty is increased. you can bring a team of up to three if you want!</p></li>


</ul>
  </li>
  <li class="how-item"><p>Once you've chosen the type of hunt that's right for you, pick on of those from the list and buy it.</p></li>
  <li class="how-item"><p>We will send you an e-mail that tells you about when your treasure hunt will be ready, and when to expect your clues to arrive.</p></li>
  <li class="how-item"><p>Once your clues arrive, you're off on an adventure! Feel free to use every available resource to work your way through your clues! There is no wrong way to do this.  You will most likely learn quite a bit along the way, and see some cool places.  Let's get started! </p></li>

</ul>

{{outlet}}
