<div class="main-container">

 {{outlet}}

 <div class="who">
 <h1 class="page-title">Who we are</h1>

 <p class="about-us">The American Adventurer's Guild was founded to re-introduce some adventure back into our lives.
     We believe that Adventure, thrills, and freedom from boredom are not extras in life, but nessisary for happiness.
     For that reason we design adventures in the form of treasure hunts for our customers.....
     hunts for real treasure like bullion and gems, as well as artifacts and artwork.  During your experience you will solve clues, research history, and with every step come closer to finding your treasure!
      And once you've found it, it's yours to keep, and you will have something forever that you can tell your friends and family about, or just cash in and take the money! </p>
</div>



</div>
