<div class="main-container">
{{#link-to "index.how"}}
<button class="btn login-btn">How It Works</button>
{{/link-to}}
{{#link-to "index.about"}}
<button class="btn login-btn">About</button>
{{/link-to}}
{{#link-to "events"}}
<button class="btn login-btn">Events</button>
{{/link-to}}
{{#link-to "index.register"}}
  <button class="btn register-btn">Register</button>
{{/link-to}}

{{#link-to "index.login"}}
<button class="btn login-btn">Login</button>
{{/link-to}}

  <p>
    {{session.session.content.authenticated.user.username}}
  </p>


 {{outlet}}
</div>
