
<div class="site-container">

<div class="index-title-container">
  <div class="heading-container">
    {{#link-to 'index'}}
      <h1 class="site-heading">The American Adventurer's Guild</h1>
    {{/link-to}}
  </div>

</div>

<div class="username-container">

  {{#if session.isAuthenticated}}

    <p class="show-username">
      Welcome, {{session.data.authenticated.user.username}}
      {{#link-to "logout" class="logout"}}Logout{{/link-to}}
    </p>

  {{/if}}

</div>


<nav class="top-nav">
  <div class="links-container">
    {{#link-to "index.about" class="links-container__link"}}
      <button class="btn login-btn">About</button>
    {{/link-to}}
    {{#link-to "index.events" class="links-container__link"}}
      <button class="btn login-btn">Events</button>
    {{/link-to}}
    {{#link-to "index.register" class="links-container__link"}}
        <button class="btn register-btn">Register</button>
    {{/link-to}}

    {{#link-to "index.login" class="links-container__link"}}
      <button class="btn login-btn">Login</button>
    {{/link-to}}
  </div>
</nav>

{{liquid-outlet}}

<footer>
  <p class="cool-link-text">Here are a few other places to find out about treasure hunting!</p>
  <div class="link-list">
    <a href="http://www.travelchannel.com/interests/history/articles/top-10-treasure-hunting-hot-spots" class="cool-link">Top 10 treasure hunting spots</a>
    <a href="http://dalneitzel.com/" class="cool-link">The hunt for Forrest Fenn's treasure</a>
  </div>
</footer>
</div>
