<div class="clues-container">

  <div class="clues-container__title">
    <h1 class="clues-title">CLUES</h1>
  </div>

    {{#each model.clues as |clue|}}

      <p class="clue-desc">{{clue.description}}</p>

    {{/each }}
  </div>

{{liquid-outlet}}
