<h1 class="title-container">Edit Prize</h1>

{{#simple-form class="registration" startingValues=model onsubmit=(action savePrize model) as |formValues|}}
  {{paper-input label="url" value=formValues.imgUrl}}
  {{paper-input label="Name" value=formValues.name}}
  {{paper-input label="Description" value=formValues.description}}

  {{#link-to "adminevents.prizes.index" class="btn"}}Cancel{{/link-to}}

  <button class="btn btn-save">Save</button>
{{/simple-form}}
