<div class="title-container">
  <h2 class="page-title">Login</h2>
</div>

<div class="content-container">
  <div class="form-container">
    <form class="registration" {{action login model on="submit"}}>

      <p class="form-input">
        {{paper-input id="username" class="input-field" type="email" label="Email" value=model.email customValidation=emailValidation}}
      </p>

      <p class="form-input" data-qa="password">
        {{paper-input id="password" class="input-field" type="password"  label="Password" value=model.password}}
      </p>

      <div class="button-container">
        <button class="btn btn-save" id="login">Login</button>
      </div>
    </form>
  </div>
</div>
