<h1>CLUES</h1>

<h2>Add A Clue</h2>

<ul>
  {{#each model.clues as |clue|}}
  <li>
    <p>{{clue.description}}</p>
  </li>
  {{/each }}
</ul>

{{#simple-form class="new-event__form" onsubmit=(action saveClue model) as |clue|}}

  <p class="form-input">
    <label class="form-label">Clue Description</label>
    {{textarea class="input-field" placeholder="Desc." value=clue.description}}
  </p>

  <div class="btn-container">
    <button class="btn save-btn">Add Clue</button>
  </div>
{{/simple-form}}
